*.exe
.cph/**
.vscode/**
2.Bitwise Operators/.vscode/settings.json
3.Recursion/.vscode/c_cpp_properties.json
1.Number Theory/bc.c
2.Bitwise Operators/bc.c
CPP STL/2.Pairs/.vscode/settings.json
5.Searching/.vscode/tasks.json
5.Searching/.vscode/launch.json
09.Hashing/.vscode/settings.json
.gitignore
09.Hashing/.vscode/launch.json
